//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com> <fybalaban@fybx.dev>

#showcase {
  height: 100svh;

  video {
    filter: brightness(0.5) saturate(1.5);
    height: 100%;
    object-fit: cover;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  background: transparent;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
}