@use "sass:math";
@use "../variables";
@use "../fonts";

.card {
  padding: math.div(variables.$site-lr-padding, 2) variables.$site-lr-padding * 2;

  text-align: center;

  h1 {
    margin: 0 0 20px 0;
    font-size: 80px;
  }

  p {
    margin: 0 0 40px 0;
    font-weight: 600;
    font-size: 18px;
  }
}

.card-white {
  background: white;
  color: black;
}

#showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: variables.$site-lr-padding * 2;

  height: variables.$index-showcase-height;

  video {
    width: 100%;
    height: variables.$index-showcase-height;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: none;
    z-index: -1;
  }

  h1 {
    color: white;
    margin: 0;
    font: 300 40px fonts.$font-stack;
    letter-spacing: -2px;

    span {
      font-weight: 600;
    }
  }

  h2 {
    color: white;
    margin: 0;
    font: 300 18px fonts.$font-stack;
  }
}

#sec-wwr {
  p {
    margin: 0 0 40px 0;
    font-weight: 600;
    font-size: 18px;
  }
}