//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com> <fybalaban@fybx.dev>

@use "sass:math";
@use "../variables";
@use "../fonts";
@use "../overflows";

.content {
  padding: variables.$site-lr-padding300 * 3 variables.$site-lr-padding300 * 2;

  @include overflows.mx_width800 {
    padding: variables.$site-lr-padding200 * 2 variables.$site-lr-padding200 * 2;
  }

  @include overflows.mx_width1200 {
    padding: variables.$site-lr-padding variables.$site-lr-padding * 2;
  }

  text-align: center;

  h1 {
    margin: 0 0 20px 0;
    font-size: variables.$site-generic-heading300;

    @include overflows.mx_width800 {
      font-size: variables.$site-generic-heading200;
    }

    @include overflows.mx_width1200 {
      font-size: variables.$site-generic-heading100;
    }
  }

  p {
    margin: 0 0 40px 0;
    font-weight: 600;
    font-size: 18px;
  }
}

.content-white {
  background: white;
  color: black;
}