//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com>
@use "../overflows";
@use "../animations";
@use "../variables";

#character-orpheus, #character-eurydice {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  img {
    height: 50vw;
    border-bottom: solid #4D4D4D 5px;
    border-radius: 0 0 5px 5px;
  }

  @include overflows.mx_width500 {
    flex-direction: row-reverse;
  }
}

.p-s-logo {
  animation: variables.$timing-showcase slide-down-appear;
}

.p-s-description {
  animation: variables.$timing-showcase appear;
}

.p-s-ecol-logo {
  animation: variables.$timing-showcase slide-up-appear;
}