#
#       Anticverse Webraider
#
#       Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com>

RewriteEngine On
RewriteBase /

# Redirect requests for "index" or "index.html" to the root directory
RewriteCond %{THE_REQUEST} ^(GET|HEAD)\ /(.*/)?index(\.html)?(\?.*)?\ HTTP
RewriteRule ^(.*/)?index(\.html)?$ /$1 [R=301,L]

# Redirect all requests to the corresponding HTML file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

# Redirect request ending in *.html to the pretty URL with permanent redirect
RewriteCond %{THE_REQUEST} \.html [NC]
RewriteRule ^(.+)\.html$ /$1 [R=301,L]