@use "../colors";
@use "../overflows";
@use "../gradients";

#hamburger-container {
  display: inline-flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: flex-end;

  .menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;

    .menu-icon__cheeckbox {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;
      z-index: 2;
      -webkit-touch-callout: none;
      position: absolute;
      opacity: 0;
    }
    div {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 22px;
      height: 12px;
    }
    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: white;
      border-radius: 1px;
      transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

      &:first-of-type {
        top: 0;
        right: 0;
      }
      &:last-of-type {
        bottom: 0;
        right: 0;
      }
    }
    &.active,
    .menu-icon__cheeckbox:checked + div {
      span {
        &:first-of-type {
          transform: rotate(45deg);
          top: 5px;
        }
        &:last-of-type {
          transform: rotate(-45deg);
          bottom: 5px;
        }
      }
    }

    &.active:hover span:first-of-type,
    &.active:hover span:last-of-type,
    &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
    &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
      width: 22px;
    }

    &:hover {
      span:first-of-type {
        width: 26px;
      }

      span:last-of-type {
        width: 12px;
      }
    }
  }

  @include overflows.mx_width1200 {
    display: none;
  }
}

.active {
  height: 100vh !important;
  opacity: 1 !important;
}

#menu {
  height: 0;
  opacity: 0;

  background: gradients.$grad-premium-dark;
  background-size: 280%;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  transition: height ease-out 350ms, opacity ease-out 350ms;
}