//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com> <fybalaban@fybx.dev>

//
// https://color.adobe.com/anticverse-color-theme-864f14a0-b3b7-425d-8ce6-be50c6988de9
//

$cl-them100: #C48BFC;
$cl-them200: #BA83F0;
$cl-them300: #A676D6;
$cl-them400: #8861B0;
$cl-them500: #573E70;

$cl-them-comp100: #C4FC8B;
$cl-them-comp200: #B9F083;
$cl-them-comp300: #A6D676;
$cl-them-comp400: #88B061;
$cl-them-comp500: #57703E;