//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com>
@use "keyframes";
@use "variables";

.anim-slide-down-appear, .anim-slide-right-appear, .anim-slide-up-appear, .anim-appear {
  opacity: 0;
  filter: blur(5px);
  transition: opacity ease-out, filter ease-out, transform ease-out;
  transition-duration: $normal;
}

.anim-slide-down-appear {
  transform: translateY(-100%);
}

.anim-slide-right-appear {
  transform: translateX(-100%);
}

.anim-slide-up-appear {
  transform: translateY(+100%);
}

.slide-down-appear, .slide-right-appear, .slide-up-appear, .appear {
  opacity: 1;
  filter: blur(0);
}

.slide-down-appear, .slide-up-appear {
  transform: translateY(0);
}

.slide-right-appear {
  transform: translateX(0);
}