@use "../colors";
@use "../fonts";

.button {
  margin: 10px;
  border: 5em;
  cursor: pointer;
  transform: translate(0);
  background-image: linear-gradient(45deg, colors.$cl-them100, colors.$cl-them-comp100);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 4px 4px 15px #FFFFFF80;
  transition: box-shadow 150ms, transform 150ms;
  color: white;
  font: 300 16px fonts.$font-stack;

  &:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 3px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
    transition: background-color ease-out 150ms;
  }

  &:hover {
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    color: #000000;
    font-weight: 600;

    &:after {
      background: #00000000;
    }
  }

  &:active {
    transform: scale(0.9);
  }
}