//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com> <fybalaban@fybx.dev>

@use "sass:math";
@use "../colors";
@use "../fonts";
@use "../overflows";
@use "../variables";

$logo-height: 80px;

.card-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .card {
    position: relative;
    margin: 0 0 2.5em 0;
    
    @include overflows.mx_width800 {
      margin: 0 5em 2.5em 0;
    }

    width: 300px;
    height: 300px;
    color: #2e2d31;
    background-image: url("../../media/index/mesh.webp");
    background-size: cover;
    overflow: hidden;
    border-radius: 30px;

    .image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      color: #f8f8f8;
      width: 100%;
      height: 100%;

      img {
        height: $logo-height;
        transition: margin-top 250ms ease-out;
        margin: 30% 0 0 0;
      }
    }

    .content {
      // Burayı okuyan arkadaştan özür dilerim, kartın genel çalışma biçimi
      // fazlasıyla sıkıntılı, dolayısıyla şu anda felaket bir hack yazmaktan
      // başka bir çare bulamıyorum, Allah yardımcın olsun :)
      max-height: 140px;
      min-height: 140px;

      position: absolute;
      left: 0;
      bottom: 0;
      padding: 20px;
      background: #f2f2f2;
      border-top-left-radius: 30px;
      transform: translateY(110px);
      transition: transform .25s ease-out;
      text-align: left;

      .title {
        font: 600 22px fonts.$font-stack;
        color: #000000;
      }

      .description {
        font: 400 14px fonts.$font-stack;
        opacity: 0;
        transition: opacity .5s ease-out;
        transition-delay: 250ms;
      }
    }

    &:hover {
      .image {
        img {
          margin: 15% 0;
        }
      }

      .content {
        transform: translateY(50px);

        .description {
          opacity: 1;
        }
      }
    }

    $hue-degree: 0;
    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        .image {
          backdrop-filter: hue-rotate($hue-degree + deg);
        }
      }
      $hue-degree: $hue-degree + 60;
    }

    &:nth-of-type(5) .image img {
      width: 200px;
      height: unset;
      margin-top: 40%;
    }

    &:hover:nth-of-type(5) .image img {
      margin-top: 32%;
    }
  }

  .card-black {

  }
}

$cl-senato: #EB00FF;
$cl-leader: #00FFE0;
$cl-legion: #F60000;

$cl-senate-shadow: rgba(244, 128, 255, 0.1);
$cl-leader-shadow: rgba(128, 255, 242, 0.1);
$cl-legion-shadow: rgba(255, 128, 128, 0.1);

$blur: 10px;
$spread: 10px;
$transition: 350ms;
$outer-shadow-dark: #090909;
$inner-shadow-dark: #090909;

.person-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .person {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding: 20px;

    border-radius: 40px;
    transition: box-shadow $transition ease-in-out, background-color $transition ease-in-out;

    margin: clamp(30px, 5vh, 60px) 0;
    width: clamp(235px, 30%, 300px);
    z-index: 0;

    .person-video {
      border-radius: 20px;
      object-fit: cover;
      width: 100%;
      height: 150px;
    }

    .person-text-area {
      place-self: start;
      position: relative;
      top: -25px;

      h1, h2 {
        margin: 0 !important;
        font: 400 20px fonts.$font-stack !important;
      }
    }

    .person-nav {
      place-self: start;
      position: relative;
      top: -20px;
      display: inline-flex;

      a {
        display: block;
        margin: 0 10px 0 0;
        width: 20px;
        height: 20px;
        background-size: contain;

        &:last-of-type {
          margin: 0;
        }

        &[data-icon="logo-linkedin"] {
          background-image: url("../../media/logos/linkedin.webp");
        }

        &[data-icon="logo-instagram"] {
          background-image: url("../../media/logos/instagram.svg");
        }

        &[data-icon="logo-github"] {
          background-image: url("../../media/logos/github.svg");
        }
      }
    }

    &:before {
      content: "";
      border-radius: 40px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: opacity $transition linear;
      z-index: -1;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  } // End of class: .person

  &[data-style="senate"] {
    .person {
      background: linear-gradient(145deg, $inner-shadow-dark, $cl-senate-shadow);
      box-shadow: $spread $spread $blur $outer-shadow-dark,
                  -1 * $spread -1 * $spread $blur $cl-senate-shadow;

      &:before {
        background: linear-gradient(300deg, $inner-shadow-dark, $cl-senate-shadow);
      }

      &:hover {
        box-shadow: $spread $spread $blur $cl-senate-shadow,
                    -1 * $spread -1 * $spread $blur $outer-shadow-dark;
      }

      .person-text-area h2 {
        color: $cl-senato;
      }
    }
  }

  &[data-style="leader"] {
    .person {
      background: linear-gradient(145deg, $inner-shadow-dark, $cl-leader-shadow);
      box-shadow: $spread $spread $blur $outer-shadow-dark,
                  -1 * $spread -1 * $spread $blur $cl-leader-shadow;

      &:before {
        background: linear-gradient(300deg, $inner-shadow-dark, $cl-leader-shadow);
      }

      &:hover {
        box-shadow: $spread $spread $blur $cl-leader-shadow,
                    -1 * $spread -1 * $spread $blur $outer-shadow-dark;
      }

      .person-text-area h2 {
        color: $cl-leader;
      }
    }
  }

  &[data-style="legion"] {
    .person {
      box-shadow: $spread $spread $blur #101010,
                  -1 * $spread -1 * $spread $blur $cl-legion-shadow;

      &:hover {
        box-shadow: $spread $spread $blur $cl-legion-shadow,
                    -1 * $spread -1 * $spread $blur #101010;
      }

      .person-text-area h2 {
        color: $cl-legion;
      }
    }
  }

  @include overflows.mx_width500 {
    flex-direction: row;

    .person {
      margin: clamp(25px, 5vh, 50px) clamp(10px, 5vw, 15px);
      width: clamp(300px, 75%, 450px);
      flex-direction: row;

      .person-video {
        width: 150px;
        height: 150px;
      }

      .person-text-area {
        margin: 10px;
        position: unset;
      }

      .person-nav {
        margin: 10px;
        place-self: flex-end;
        position: absolute;
        top: unset;
        left: 172px;
      }
    }

    &[data-style="senate"] {
      .person {
        width: clamp(450px, 75%, 500px);
      }
    }

    &[data-style="legion"] {
      .person {
        width: clamp(300px, 75%, 400px);
      }

      .person .person-video {
        height: 120px;
      }
    }
  }

  @include overflows.mx_width1000 {
    .person {
      width: clamp(300px, 45%, 450px);
    }
  }

  @include overflows.mx_width1200 {
    .person {
      box-sizing: border-box;
    }
  }
}

.hr-under-senate {
  border: 1px #444 solid;
  box-shadow: 0 5px 10px 0 $cl-senato;
}

.hr-under-leader {
  border: 1px #111 solid;
  box-shadow: 0 5px 10px 0 $cl-leader;
}









