//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com> <fybalaban@fybx.dev>

@use "sass:math";
@use "../colors";
@use "../fonts";
@use "../overflows";
@use "../variables";

$logo-height: 80px;

.card-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .card {
    position: relative;
    margin: 0 0 2.5em 0;
    
    @include overflows.mx_width800 {
      margin: 0 5em 2.5em 0;
    }

    width: 300px;
    height: 300px;
    color: #2e2d31;
    background-image: url("../../media/index/mesh.webp");
    background-size: cover;
    overflow: hidden;
    border-radius: 30px;

    .image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      color: #f8f8f8;
      width: 100%;
      height: 100%;

      img {
        height: $logo-height;
        transition: margin-top 250ms ease-out;
        margin: 30% 0 0 0;
      }
    }

    .content {
      // Burayı okuyan arkadaştan özür dilerim, kartın genel çalışma biçimi
      // fazlasıyla sıkıntılı, dolayısıyla şu anda felaket bir hack yazmaktan
      // başka bir çare bulamıyorum, Allah yardımcın olsun :)
      max-height: 140px;
      min-height: 140px;

      position: absolute;
      left: 0;
      bottom: 0;
      padding: 20px;
      background: #f2f2f2;
      border-top-left-radius: 30px;
      transform: translateY(110px);
      transition: transform .25s ease-out;
      text-align: left;

      .title {
        font: 600 22px fonts.$font-stack;
        color: #000000;
      }

      .description {
        font: 400 14px fonts.$font-stack;
        opacity: 0;
        transition: opacity .5s ease-out;
        transition-delay: 250ms;
      }
    }

    &:hover {
      .image {
        img {
          margin: 15% 0;
        }
      }

      .content {
        transform: translateY(50px);

        .description {
          opacity: 1;
        }
      }
    }

    $hue-degree: 0;
    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        .image {
          backdrop-filter: hue-rotate($hue-degree + deg);
        }
      }
      $hue-degree: $hue-degree + 60;
    }

    &:nth-of-type(5) .image img {
      width: 200px;
      height: unset;
      margin-top: 40%;
    }

    &:hover:nth-of-type(5) .image img {
      margin-top: 32%;
    }
  }

  .card-black {

  }
}

$card-padding: 12px;
$card-size: 300px;

.person-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .person {
    margin-bottom: math.div($card-size, 10);

    @include overflows.mx_width800 {
      margin: 0 math.div($card-size, 10) math.div($card-size, 10)  0;
    }

    box-sizing: border-box;
    padding: $card-padding;
    z-index: 0;
    transition: background-size 150ms ease-in;
    background-size: 100%;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: $card-size;
    height: $card-size;
    border-radius: 15px;

    h1 {
      margin: 0;
      font-size: 18px;
    }

    h2 {
      margin: 0;
      font-size: 12px;
      color: colors.$cl-them100;
    }

    nav {
      display: inline-flex;
      margin: math.div($card-padding, 2) 0 0 0;

      a {
        display: block;
        margin: 0 math.div($card-padding, 2) 0 0;
        width: 20px;
        height: 20px;

        &:last-of-type {
          margin: 0;
        }
      }

      .logo-linkedin {
        background: url("../../media/logos/linkedin.webp");
      }

      .logo-instagram {
        background: url("../../media/logos/instagram.svg");
      }

      .logo-github {
        background: url("../../media/logos/github.svg");
      }

      .logo-github, .logo-instagram, .logo-linkedin {
        background-size: contain;
      }
    }

    &:after {
      content: "";
      width: $card-size;
      height: 85px;
      position: absolute;
      background: linear-gradient(to bottom, #00000002 0%, #00000099 15%, #000000F0 100%);
      z-index: -1;
      margin: -1 * $card-padding;
    }

    &:hover {
      background-size: 120%;
    }
  }
}

$cl-senato: #EB00FF;
$cl-leader: #00FFE0;
$cl-legion: #F60000;

.person-gallery2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .person {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding: 20px;

    border-radius: 40px;
    background: #212121;
    box-shadow: 15px 15px 20px #191919,
                -15px -15px 20px #282828;

    margin: variables.$site-lr-padding300;
    width: clamp(230px, 100%, 300px);
    box-sizing: border-box;

    .person-video {
      border-radius: 20px;
      object-fit: cover;
      width: 100%;
      height: 150px;
    }

    .person-text-area {
      place-self: start;
      position: relative;
      top: -30px;

      h1, h2 {
        margin: 0 !important;
        font: 400 20px fonts.$font-stack !important;
      }

      h2 {
        &[data-style="senato"] {
          color: $cl-senato;
        }

        &[data-style="leader"] {
          color: $cl-leader;
        }

        &[data-style="legion"] {
          color: $cl-legion;
        }
      }
    }

    .person-nav {
      place-self: start;
      position: relative;
      top: -20px;
      display: inline-flex;

      a {
        display: block;
        margin: 0 10px 0 0;
        width: 20px;
        height: 20px;

        &:last-of-type {
          margin: 0;
        }
      }

      .logo-linkedin {
        background: url("../../media/logos/linkedin.webp");
      }

      .logo-instagram {
        background: url("../../media/logos/instagram.svg");
      }

      .logo-github {
        background: url("../../media/logos/github.svg");
      }

      .logo-github, .logo-instagram, .logo-linkedin {
        background-size: contain;
      }
    }

    @include overflows.mx_width500 {
      width: clamp(300px, 100%, 450px);
      flex-direction: row;

      .person-video {
        width: 150px;
        height: 150px;
      }

      .person-text-area {
        margin: 10px;
        position: unset;
      }

      .person-nav {
        place-self: flex-end;
        position: absolute;
        top: unset;
        left: 180px;
      }
    }
  }

  @include overflows.mx_width500 {
    flex-direction: row;
  }
}













