@use "../overflows";

.gallery-person-project {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;

  margin: clamp(85px, 5vw, 100px) clamp(20px, 5vw, 40px);
}

$cl-senato: #EB00FF;
$cl-leader: #00FFE0;
$cl-legion: #F60000;

$cl-senate-shadow: rgba(244, 128, 255, 0.1);
$cl-leader-shadow: rgba(128, 255, 242, 0.1);
$cl-legion-shadow: rgba(255, 128, 128, 0.1);

$blur: 10px;
$spread: 10px;
$transition: 350ms;
$outer-shadow-dark: #090909;
$inner-shadow-dark: #090909;

.gallery-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @include overflows.mx_width500 {
    flex-direction: row;

    .card-person {
      margin: clamp(25px, 5vh, 50px) clamp(10px, 5vw, 15px);
      width: clamp(300px, 75%, 450px);
      flex-direction: row;

      .c-p-video {
        width: 150px;
        height: 150px;
      }

      .person-text-area {
        margin: 10px;
        position: unset;
      }

      .person-nav {
        margin: 10px;
        place-self: flex-end;
        position: absolute;
        top: unset;
        left: 172px;
      }
    }

    .card-person-senate {
      width: clamp(450px, 75%, 500px);
    }

    .card-person-legion {
      width: clamp(300px, 75%, 400px);

      .c-p-video {
        width: 120px;
        height: 120px;
      }

      .person-nav {
        left: 142px;
      }
    }
  }

  @include overflows.mx_width1000 {
    .card-person {
      width: clamp(300px, 45%, 450px);
    }
  }

  @include overflows.mx_width1200 {
    .card-person {
      box-sizing: border-box;
    }
  }
}